<header>
	<div class="l-centered">
		<nav class="l-navig">
			<div class="l-navbar-left">
				<div id="menu-button" class="button-icon th-link-grey is-show">
					<i class="glyphicon glyphicon-menu-hamburger"></i>
				</div>
				<ul id="menu" class="l-menu">
					<li class="l-list-menu"><a class="elm-menu th-link-grey" href="Accueil">accueil</a></li>
					<li class="l-list-menu"><a class="elm-menu th-link-grey" href="Functionality">fonctionnalités</a></li>
					<li class="l-list-menu"><a class="elm-menu th-link-grey" href="Security">sécurité</a></li>
					<li class="l-list-menu"><a class="elm-menu th-link-grey" href="Inscription">s'inscrire</a></li>
					<li class="l-list-menu"><a class="elm-menu th-link-grey" href="Connexion">se connecter</a></li>
				</ul>
				<ul class="l-navbar-horiz is-hide">
					<li class="l-elm-navbar-horiz"><a class="btn-nav-horiz th-link-grey" href="Accueil">accueil</a></li>
					<li class="l-elm-navbar-horiz"><a class="btn-nav-horiz th-link-grey" href="Functionality">fonctionnalités</a></li>
					<li class="l-elm-navbar-horiz"><a class="btn-nav-horiz th-link-grey" href="Security">sécurité</a></li>
				</ul>
			</div>
			<div class="l-navbar-right">
				<a class="button-icon th-link-grey is-show" href="Connexion"><i class="icon-user"></i></a>
				<ul class="l-navbar-horiz is-hide">
					<li class="l-elm-navbar-horiz"><a class="btn-social th-btn-hd th-circle-twitter th-link-defaut" href="#" target="_blank"><i class="icon-twitter"></i></a></li>
					<li class="l-elm-navbar-horiz"><a class="btn-social th-btn-hd th-circle-facebook th-link-defaut" href="#" target="_blank"><i class="icon-facebook"></i></a></li>
					<li class="l-elm-navbar-horiz"><a class="btn-social th-btn-hd th-circle-google-plus th-link-defaut" href="#" target="_blank"><i class="icon-google-plus"></i></a></li>
					<li class="l-wrap-button-header"><a class="button th-button-grey th-link-defaut" href="Connexion">se connecter</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>

<div class="body">
	<div class="l-wrap-accueil">
		<div id="body" class="l-centered">
			<div class="container-fluid">
				<h1 class="title">Accueil</h1>
				<p class="paragraph">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<p class="paragraph">
					Vivamus sed libero nec mauris pulvinar facilisis ut non sem. Quisque mollis ullamcorper diam vel faucibus. Vestibulum sollicitudin facilisis feugiat. Nulla euismod sodales hendrerit. Donec quis orci arcu. Vivamus fermentum magna a erat ullamcorper dignissim pretium nunc aliquam. Aenean pulvinar condimentum enim a dignissim. Vivamus sit amet lectus at ante adipiscing adipiscing eget vitae felis. In at fringilla est. Cras id velit ut magna rutrum commodo. Etiam ut scelerisque purus. Duis risus elit, venenatis vel rutrum in, imperdiet in quam. Sed vestibulum, libero ut bibendum consectetur, eros ipsum ultrices nisl, in rutrum diam augue non tortor. Fusce nec massa et risus dapibus aliquam vitae nec diam.
				</p>
				<p class="paragraph">
					Phasellus ligula massa, congue ac vulputate non, dignissim at augue. Sed auctor fringilla quam quis porttitor. Praesent vitae dignissim magna. Pellentesque quis sem purus, vel elementum mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas consectetur euismod urna. In hac habitasse platea dictumst. Quisque tincidunt porttitor vestibulum. Ut iaculis, lacus at molestie lacinia, ipsum mi adipiscing ligula, vel mollis sem risus eu lectus. Nunc elit quam, rutrum ut dignissim sit amet, egestas at sem.
				</p>
			</div>
		</div>
	</div>
</div>
	