<!-- HEADER -->
<header>
	<div class="l-centered-block">
		<a class="button-icon th-link-grey" ng-href="#user/{{$storage.id}}/home" title="espace utilisateur"><i class="icon-home"></i></a>
	</div>
</header>

<!-- BODY -->
<div class="l-wrap-login">
	<div class="l-centered-login">
		<div class="l-wrap-grey">
			<form id="form" method="put" enctype="multipart/form-data">
				<div class="l-profil-wrap-img">
					<div class="container-fluid l-profil-content-img">
						<div id="image-profil" class="profil-img {{$storage.avatarClass}}" title="avatar" style="background-image: url({{$storage.avatarPath}});" ng-style="pointer">
							<input id="input-file" name="fileName" type="file">
						</div>
						<span class="l-top-right th-link-grey" ng-show="deleteAvatar" ng-click="delete()" title="supprimer"><i class="glyphicon glyphicon-trash"></i></span>
						<span class="error-message th-correct">{{avatarOk}}</span>
						<span class="error-message th-warning">{{avatarError}}</span>
					</div>
				</div>
				<div class="l-profil-wrap-form">
					<div class="container-fluid l-profil-form">
						<div class="champ-form">
							<label class="label-form">NOM D'UTILISATEUR</label>
							<input class="input-form" autocomplete="name" type="name" placeholder="{{$storage.name}}" ng-disabled="disabled" ng-model="name">
							<span class="error-message th-correct">{{nameOk}}</span>
							<span class="error-message th-warning">{{nameError}}</span>
						</div>
						<div class="champ-form">
							<label class="label-form">EMAIL</label>
							<input class="input-form" autocomplete="email" type="email" placeholder="{{$storage.email}}" ng-disabled="disabled" ng-model="email">
							<span class="error-message th-correct">{{emailOk}}</span>
							<span class="error-message th-warning">{{emailError}}</span>
						</div>
						<div class="champ-form">
							<label class="label-form">MOT DE PASSE</label>
							<input class="input-form password" autocomplete="password" type="password" ng-disabled="disabled" ng-model="password1">
							<span class="error-message th-correct">{{passwordOk}}</span>
							<span class="error-message th-warning">{{passwordError}}</span>
						</div>
						<div class="champ-form">
							<label class="label-form">RESAISIR MOT DE PASSE</label>
							<input class="input-form password" autocomplete="password" type="password" ng-disabled="disabled" ng-model="password2">
						</div>
						<div class="l-wrap-submit-form" ng-show="btnEdit">
							<div class="button button-lg th-button-blue" ng-click="edit()">EDITER</div>
						</div>
						<div class="l-wrap-submit-form" ng-show="btnCancel">
							<div class="l-left">
								<div class="button th-button-red" ng-click="cancel()">ANNULER</div>
							</div>
							<div class="l-right">
								<div class="button th-button-green" ng-click="submit()">ENREGISTRER</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- FOOTER -->
<footer class="l-wrap-footer">
	<div class="l-centered ">
		<div class="container-fluid footer-accueil">
			Icons made by <a href="https://www.flaticon.com/authors/plainicon" title="Plainicon">Plainicon</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
		</div>
	</div>
</footer>