<div class="l-home-wrap">
	<div class="l-home-wrap-left">

		<!-- HEADER -->
		<header class="l-wrap-header-home" ng-controller="homeHeaderCtrl">
			<div class="l-wrap-header-avatar"><a class="avatar-mini {{$storage.avatarClass}}" ng-href="#user/{{$storage.id}}/profil" title="profil utilisateur" style="background-image: url({{$storage.avatarPath}});"></a></div>
			<nav>
				<div class="l-right button-icon th-grey" title="menu" ng-click="menu()">
					<i class="glyphicon glyphicon-menu-hamburger"></i>
				</div>
				<ul class="l-user-list-menu" ng-hide="menuIsHidden">
					<li class="l-user-elm-menu"><span class="elm-menu th-link-grey" ng-click="showNewContact()">Nouveau Contact</span></li>
					<li class="l-user-elm-menu"><span class="elm-menu th-link-grey" ng-click="showContact()">Contact</span></li>
					<li class="l-user-elm-menu"><span class="elm-menu th-link-grey" ng-click="showDiscussion()">Discussion</span></li>
					<li class="l-user-elm-menu"><a ng-href="#user/{{$storage.id}}/profil" class="elm-menu th-link-grey">Profil</a></li>
					<li class="l-user-elm-menu"><span ng-click="deconnexion()" class="elm-menu th-link-grey">Déconnexion</span></li>
				</ul>
			</nav>
		</header>

		<!-- CHAT-DISCUSSION -->
		<div id="discussion" class="l-nav" ng-controller="chatDiscussionCtrl">
			<div class="l-wrap-search js-search">
				<div class="l-search">
					<form>
						<label class="l-left button-search th-grey" title="recherche" ng-click="find(search)"><span class="glyphicon glyphicon-search"></span></label>
						<input class="l-left input-search" type="text" placeholder="Rechercher un contact" ng-model="search">
					</form>
				</div>
			</div>
			<div id="chat-discussion" class="l-wrap-nav-chat js-search-result">
				<div class="l-wrap-chat" ng-show="error">
					<div class="chat-msg-error">{{msgError}}</div>
				</div>
				<!-- ng-repeat -->
				<div ng-repeat="(key, value) in data">
					<div class="l-wrap-chat"> 
						<div class="l-wrap-chat-avatar">
							<div class="avatar-mini {{value.contact.avatarClass}}" style="background-image: url({{value.contact.avatarPath}});"></div>
						</div>
						<div class="chat-body">
							<div class="chat-main">
								<div class="chat-title"  ng-click="select(key)" style="cursor: pointer;" onmouseover="this.style.color='#7282C1';" onmouseout="this.style.color='#FFFFFF';">{{value.contact.name}}</div>
								<div class="chat-meta">{{value.time}}</div>
							</div>
							<div class="chat-msg-text">{{value.message}}</div>
							<div class="chat-notification {{data[key].classe}}">{{data[key].nbrMsgNonLu}}</div>
						</div>
					 </div>
				</div>
			</div>
		</div>
		
		<!-- CHAT-CONTACT -->
		<div id="contact" class="l-nav is-hidden" ng-controller="chatContactCtrl">
			<div class="l-wrap-search js-search">
				<div class="l-search">
					<form>
						<label class="l-left button-search th-grey" title="recherche" ng-click="find(search)"><span class="glyphicon glyphicon-search"></span></label>
						<input class="l-left input-search" type="text" placeholder="Rechercher un contact" ng-model="search">
					</form>
				</div>
			</div>
			<div id="chat-contact" class="l-wrap-nav-chat js-search-result">
				<div class="l-wrap-chat" ng-show="error">
					<div class="chat-msg-error">{{msgError}}</div>
				</div>
				<!-- ng-repeat -->
				<div ng-repeat="(key, value) in data">
					<div class="l-wrap-chat"> 
						<div class="l-wrap-chat-avatar">
							<div class="avatar-mini {{value.avatarClass}}" style="background-image: url({{value.avatarPath}});"></div>
						</div>
						<div class="chat-body">
							<div class="chat-main"">
								<div class="chat-title"  ng-click="select(key)" style="cursor: pointer;" onmouseover="this.style.color='#7282C1';" onmouseout="this.style.color='#FFFFFF';">{{value.name}}</div>
							</div>
						</div>
					 </div>
				</div>
			</div>
		</div>
		
		<!-- CHAT-NEW-CONTACT -->
		<div id="new-contact" class="l-nav is-hidden" ng-controller="chatNewContact">
			<div class="l-wrap-search js-search">
				<div class="l-search">
					<form>
						<label class="l-left button-search th-grey" title="recherche" ng-click="find(search)"><span class="glyphicon glyphicon-search"></span></label>
						<input class="l-left input-search" type="text" placeholder="Ajouter un nouveau contact" ng-model="search">
					</form>
				</div>
			</div>
			<div id="chat-new-contact" class="l-wrap-nav-chat js-search-result">
				<div class="l-wrap-chat" ng-show="error">
					<div class="chat-msg-error">{{msgError}}</div>
				</div>
				<!-- ng-repeat -->
				<div ng-repeat="(key, value) in data">
					<div class="l-wrap-chat" ng-show="value.bool"> 
						<div class="l-wrap-chat-avatar">
							<div class="avatar-mini {{value.avatarClass}}" style="background-image: url({{value.avatarPath}});"></div>
						</div>
						<div class="chat-body">
							<div class="chat-main">
								<div class="chat-title">{{value.name}}</div>
							</div>
							<div class="add-contact" title="ajouter contact" ng-click="add(key)"><span class="glyphicon glyphicon-plus-sign"></span></div>
						</div>
					 </div>
				</div>
			</div>
		</div>

	</div>
	<div class="l-home-wrap-right">
		<!-- HEADER-DISCUSSION -->
		<div class="l-wrap-header-home" ng-controller="headerDiscussionCtrl" ng-hide="isHidden">
			<div id="avatar-contact" class="l-wrap-header-avatar">
				<div class="avatar-mini {{avatarClass}}" style="background-image: url({{avatarPath}});"></div>
			</div>
			<!-- <div>
				<div class="l-right button-icon th-grey" title="menu">
					<i class="glyphicon glyphicon-option-vertical"></i>
				</div>
			</div> -->
		</div>
		<!-- SCREEN-DISCUSSION -->
		<div id="js-wrap-screen" class="l-wrap-msg-screen"  ng-controller="screenDiscussionCtrl" ng-hide="isHidden">
			<div id="js-screen" class="l-wrap-msg">
			</div>
		</div>
		<!-- FOOTER-DISCUSSION -->
		<footer class="user-footer-home" ng-controller="inputDiscussionCtrl" ng-hide="isHidden">
			<div class="l-wrap-send-msg">
				<div class="l-msg">
					<textarea class="input-msg my-message" placeholder="{{placeholder}}" ng-model="message"></textarea>
				</div>
			</div>
		</footer>
	</div>
</div>
