<div class="l-home-wrap">
	<div class="l-home-wrap-left">

		<!-- HEADER -->
		<header class="l-wrap-header-home" ng-controller="homeHeaderCtrl">
			<div id="userAvatar" class="l-wrap-header-avatar"><a class="avatar-mini {{$storage.avatarClass}}" href="Profil" title="profil utilisateur" style="background-image: url({{$storage.avatarPath}});"></a></div>
			<nav>
				<div id="btn-menu" class="l-right button-icon th-grey" title="menu" ng-click="menu()">
					<i class="glyphicon glyphicon-menu-hamburger"></i>
				</div>
				<ul id="menu" class="l-user-list-menu" ng-hide="menuIsHidden">
					<li id="btn-new-contact" class="l-user-elm-menu"><span class="elm-menu th-link-grey" ng-click="showNewContact()">Nouveau Contact</span></li>
					<li id="btn-contact" class="l-user-elm-menu"><span class="elm-menu th-link-grey" ng-click="showContact()">Contact</span></li>
					<li id="btn-discussion" class="l-user-elm-menu"><span class="elm-menu th-link-grey" ng-click="showDiscussion()">Discussion</span></li>
					<li class="l-user-elm-menu"><a ng-href="#user/{{$storage.id}}/profil" class="elm-menu th-link-grey">Profil</a></li>
					<li class="l-user-elm-menu"><span ng-click="deconnexion()" class="elm-menu th-link-grey">Déconnexion</span></li>
				</ul>
			</nav>
		</header>

		<!-- CHAT-DISCUSSION -->
		<div id="discussion" class="l-nav">
			<div class="l-wrap-search js-search">
				<div class="l-search">
					<form>
						<label id="btn-search-discussion" class="l-left button-search th-grey" title="recherche"><span class="glyphicon glyphicon-search"></span></label>
						<input id="input-discussion" class="l-left input-search" type="text" name="" placeholder="Rechercher une discussion">
					</form>
				</div>
			</div>
			<div id="chat-discussion" class="l-wrap-nav-chat js-search-result">
			</div>
		</div>
		
		<!-- CHAT-CONTACT -->
		<div id="contact" class="l-nav is-hidden">
			<div class="l-wrap-search js-search">
				<div class="l-search">
					<form>
						<label id="btn-search-contact" class="l-left button-search th-grey" title="recherche"><span class="glyphicon glyphicon-search"></span></label>
						<input id="input-contact" class="l-left input-search" type="text" name="" placeholder="Rechercher un contact">
					</form>
				</div>
			</div>
			<div id="chat-contact" class="l-wrap-nav-chat js-search-result">
			</div>
		</div>
		
		<!-- CHAT-NEW-CONTACT -->
		<div id="new-contact" class="l-nav is-hidden">
			<div class="l-wrap-search js-search">
				<div class="l-search">
					<form>
						<label id="btn-search-new-contact" class="l-left button-search th-grey" title="recherche"><span class="glyphicon glyphicon-search"></span></label>
						<input id="input-new-contact" class="l-left input-search" type="text" name="" placeholder="Ajouter un nouveau contact">
					</form>
				</div>
			</div>
			<div id="chat-new-contact" class="l-wrap-nav-chat js-search-result">
				<div class="l-wrap-chat">
					<div class="chat-msg-error">Aucun résultat</div>
				</div>
			</div>
		</div>

	</div>
	<div class="l-home-wrap-right">
		<!-- <?php
			require_once $discussionScreen;
			require_once $footer;
		?> -->
	</div>
</div>
